body{
    background-color: rgb(58, 58, 58)
}
h1{
    text-shadow: 3px 3px 5px rgb(241, 13, 13),-3px -3px 5px rgba(47, 13, 241, 0.568);
  color:gold;  
  font-style: italic;
}
h2{
    color:white
}
h3{
    color:white
}
h4{
    color:white
}
h5{
    color:white   

}
h6{
    color:white
}
a{
    color:red

}
button{
background-color: gold;
color:darkgreen;
position: auto;
text-shadow: 3px 4px 5px whitesmoke;
}
#h6{
    color : white;
    
}
p{
    color: white;
    font-style: bold;
}
#sm{
    text-shadow: 3px 3px 5px rgb(241, 13, 13),-3px -3px 5px rgba(47, 13, 241, 0.568);
    color:gold;  
    font-style: bold;  
}
#Sections{
    text-shadow: 4px 3px 3px darkgoldenrod;
    color: gold;
    font-style: initial;
}
#Wewe{
    font-style: bold;
    color:blue;
}
#Video{
    font-style: bold;
    color:lightgreen;
}
#Server{
    font-style: bold;
    color: lightcoral;
}
#MainPage{
    font-style: bold;
    text-shadow: 3px 4px 5px;
}
#h3{    color:gold;
}


nav {
    background-color: #333;
    padding: 10px 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

li {
    font-size: 18px;
    cursor: pointer;
    color: #ccc;
}

li.active {
    color: white;
    position: relative;
}

li.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: yellow;
    margin-top: 2px;
}
